/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2026 Jiamu Sun <barroit@linux.com>
 */

@import 'tailwindcss';

@import './styles/fonts.css';

:root {
	--pastel-pink: #fff5f5;
	--pastel-lavender: #faf5ff;
	--pastel-cyan: #f0f9fa;
}

@theme {
	--font-jetbrans_mono: 'JetBrains Mono';
	--font-x14y20px_score_dozer: 'x14y20pxScoreDozer';
	--font-x16y32px_grid_gazer: 'x16y32pxGridGazer';

	--font-mono: var(--font-jetbrans_mono);

	--color-miku-cyan: oklch(0.75 0.11 206.57);
	--color-miku-pink: oklch(0.6805 0.1986 350.19);

	--text-h1: clamp(1.8rem,   1.5300rem + 1.2000vw, 2.49rem);
	--text-h2: clamp(1.6rem,   1.4161rem + 0.8173vw, 2.07rem);
	--text-h3: clamp(1.42rem,  1.2987rem + 0.5391vw, 1.73rem);
	--text-h4: clamp(1.27rem,  1.2034rem + 0.2956vw, 1.44rem);
	--text-h5: clamp(1.125rem, 1.0956rem + 0.1304vw, 1.2rem);
	--text-h6: 1rem;

	@keyframes shift-star {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(5vmax, -5vmax);
	}
	} /* @keyframes scroll-stars */

	--animate-shift-star: shift-star 5s linear infinite;
}

@utility bg-miku {
	background-image: linear-gradient(var(--direction),
					  var(--pastel-pink) 20%,
					  var(--pastel-lavender) 50%,
					  var(--pastel-cyan) 80%);
}
