/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2026 Jiamu Sun <barroit@linux.com>
 */

@import 'tailwindcss';

@import './styles/fonts.css';

:root {
	--pastel-pink: oklch(0.9779 0.0107 17.34);
	--pastel-lavender: oklch(0.9768 0.0142 308.3);
	--pastel-cyan: oklch(0.9757 0.0096 204.92);
	--pastel-orange: oklch(0.9755 0.01 55.2);
	--pastel-green: oklch(0.9755 0.0090 148.5);
	--pastel-blue: oklch(0.9765 0.0115 255.0);

	--shift-star: url(AS_SHIFT_STAR_PNG);
}

@theme {
	--color-miku-cyan: oklch(0.75 0.11 206.57);
	--color-miku-pink: oklch(0.6805 0.1986 350.19);

	--color-miku-blue: oklch(0.7486 0.1168 187.91);
	--color-luka-pink: oklch(0.8677 0.0735 7.09);

	--color-rin-orange: oklch(0.7927 0.171 70.67);
	--color-len-yellow: oklch(0.9089 0.1868 99.73);

	--color-meiko-red: oklch(0.554 0.2273 29.23);
	--color-kaito-blue: oklch(0.452 0.313214 264.052);

	--font-jetbrans_mono: 'JetBrains Mono';
	--font-x14y20px_score_dozer: 'x14y20pxScoreDozer';
	--font-x16y32px_grid_gazer: 'x16y32pxGridGazer';

	--font-mono: var(--font-jetbrans_mono);

	@keyframes shift-star {

	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(5cqw, -5vmax);
	}

	} /* @keyframes scroll-stars */

	--animate-shift-star: shift-star 5s linear infinite;
}

@utility bg-pastel {
	background-image: linear-gradient(var(--direction),
					  var(--pastel-left) 20%,
					  var(--pastel-mid) 50%,
					  var(--pastel-right) 80%);
}

@utility mask-fade-edge {
	mask-position: center;
	mask-size: 100% 100%;

	mask-repeat: no-repeat;
	mask-composite: intersect;

	mask-image: linear-gradient(to right, transparent, #fff var(--span),
				    #fff calc(100% - var(--span)), transparent),
		    linear-gradient(to bottom, transparent, #fff var(--span),
				    #fff calc(100% - var(--span)), transparent);
}

*, ::before, ::after {
	@apply motion-reduce:duration-0! motion-reduce:animate-none!;
}

button, a, .group\/shell {
	@apply *:cursor-pointer;
}
