/* SPDX-License-Identifier: GPL-3.0-or-later */

a {
	@variant hover {
		text-decoration-line: underline;
	}

	@variant group-hover/shell {
		text-decoration-line: underline;
	}
}

a, button {
	outline: solid transparent;
	cursor: pointer;

	@apply duration-200;
}

@media (prefers-color-scheme: light)
{

a {
	color: #000099;
}

a:visited {
	color: #681da8;
}

*:focus-visible {
	outline-color: #2054cc;
}

} /* @media (prefers-color-scheme: light) */
